<nav class="navbar navbar-secondary navbar-expand-lg bg-secondary text-white">
  <div class="container-fluid ms-5">
    <a class="navbar-brand text-white" routerLink="" ><i class="bi bi-joystick fs-3"> Games 4 All</i> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
      <ul class="navbar-nav me-5 ms-auto">
        <li class="nav-item me-3">
            <a class="nav-link fw-bold text-white" routerLink="usuarios/listado">Usuarios</a>
        </li>
        <li class="nav-item me-3">
            <a class="nav-link fw-bold text-white" routerLink="juegos/listado">Juegos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link fw-bold text-white" routerLink="alquileres/listado">Alquileres</a>
        </li>
    </ul> 
    </div>
  </div>
</nav>